// Define variables for your color scheme

// For example:
$brown-2: #914A25;
$brown-1: #CFA78F;
$brown-4: #6C270B;
$brown-3: #81390E;
$light-gray: #f4e3da;
$black: #0E0E0E;
$white: #ffffff;
// $light-gray: #EFEEEC;
