<div class="text-center danger">
  <footer class="container d-flex flex-wrap justify-content-between align-items-center mb-0 py-3 border-color">

    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-danger">© 2025 Chasseneuil, Inc </span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-3">
      <li class="ms-3">
        <a class="text-body-secondary" href="#">
          <svg class="bi" width="24" height="24">
            <i class="fa-brands fa-facebook text-danger"></i>
          </svg>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#">
          <svg class="bi" width="24" height="24">
            <i class="fa-brands fa-x-twitter text-danger"></i>
          </svg>
        </a>
      </li>
    </ul>    </div>
  </footer>
</div>
