<!-- app/views/pages/home.html.erb -->
<h1>Bienvenue à la maison de vacances !</h1>
<p>Description, photos, disponibilités, tout viendra ici :)</p>

<%= link_to "En savoir plus", about_path %>
<%= link_to "Nous contacter", contact_path %>
